.button {
  background-color: rgba(21, 215, 180, 1);
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button:hover {
  background-color: rgb(11, 146, 121);
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.button:active {
  background-color: rgb(9, 126, 105);
  transform: scale(0.98);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
